* {
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Gabarito&family=Inter:wght@400;500&family=Josefin+Sans&family=Kdam+Thmor+Pro&family=Lilita+One&family=Montserrat:wght@600&family=Nunito:ital,wght@1,400;1,500&family=Playfair+Display:wght@600&family=Poppins:wght@400;500&family=Roboto:wght@100;300;400;500;700&family=Vina+Sans&display=swap');
}

/* header part css */
.header-main {
    background-color: rgb(157, 156, 154);
    position: fixed;
    width: 100%;
    top: 0;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li {
    list-style-type: none;
    margin: 0px 10px;
    padding: 5px 10px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: rgb(39, 39, 242);
}

.nav-bar ul li:hover {
    color: goldenrod;
    background-color: rgb(240, 237, 201);
    padding: 3px 5px;
    border-radius: 8px;
}


/* home section css */

.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;

}

.my-details {
    width: 50%;
    padding: 10px 30px;

}

.my-details h1 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

.my-details p {
    color: rgb(111, 110, 110);
}

.my-details button {
    margin: 15px 0px;
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(rgb(122, 122, 244), rgb(149, 216, 243));

}

.image-part {
    width: 50%;
    /* border: 2px solid; */
}

.image-part img {
    width: 100%;
    /* opacity: 0.5; */
}

/* services part */
.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: auto;

}

.services-item {
    padding: 60px;
    /* background-color:rgb(221, 246, 185);
    border: 1px solid gray; */
    border-radius: 8px;
    text-align: center;
}

.services-item p {
    color: gray;
    padding: 10px;
}

.services-item h3 {
    font-size: 30px;
    padding: 10px;
}
.icon{
    font-size: 30px;
}
.icon:hover {
    color: blue;
}

.footer-part{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
}

.drop-down{
    position: relative;
    padding: 10px;   
}

#content{
    position: absolute;
    background-color: black;
    width: 100px;
    padding: 20px;
    top: 90%;
    display: none;
}

.drop-down:hover #content {
    display: block;
}

#content a{
    color: aliceblue;
}














/* .drop-down{
    position: relative;
    padding: 30px;
    display: inline-block;
}

.content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} */

/* .drop-down:hover .content{
    display: block;
} */


@media only screen and (max-width:600px) {
    /* body{
        background-color: chartreuse;
    }
     */

    .header-section {
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.nav-bar ul {
    display: inline-block;
}

.header-main {
    margin: 0;
    padding:20px;
    background-color: rgb(247, 235, 188);
}

.home-section {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
}


.my-details {
    width: 100%;
    padding: 10px;

}

.my-details h1 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
.image-part {
    width: 100%;
}

.services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 10px 30px;
}

}

